@inject Yvtu.Infra.Data.Interfaces.IPartnerManager UserManager
@using System.Security.Claims

@{ 
    double currentPartnerBalance = 0;
    string currentPartnerId = string.Empty;
    string currentPartnerRoleName = string.Empty;
    int currentPartnerAccount = -1;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VTU</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/css/choices.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  border-bottom box-shadow" style="min-height:100px;background-color:#f3f1f1">
            <div class="container">
                <a asp-action="Index" asp-controller="Home" class="brand-link" style="text-decoration: none;font-size:18px;">
                    <img src="~/images/Y-Logo2.png" alt="YCo Logo" class="brand-image" width="70" height="70" style="opacity: .8">
                    <span class="brand-text font-weight-light" style="font-family: 'ArefRuqaa-Bold'; font-size:1.5em;color:purple;">إدارة الشاحن الفوري</span>
                </a>

                @*<div style="font-size:20px;font-weight:bold;">
                        @{
                            var partId = UserManager.GetCurrentUserId(this.Context);
                            var part = UserManager.Validate(partId).Partner;
                            var bal = (part.Balance - part.Reserved);
                            <p>@bal.ToString("N0")</p>
                            }

                    </div>*@
                @if (this.User.Identity.IsAuthenticated)
                {
                    currentPartnerAccount = UserManager.GetCurrentUserAccount(this.Context);
                    var part = UserManager.GetPartnerByAccount(currentPartnerAccount);
                    currentPartnerId = part.Id;
                    currentPartnerBalance = (part.Balance - part.Reserved);
                    currentPartnerRoleName = part.Role.Name;
                    var unreadUserNotifyMessagesFormat = "0";
                    var unreadUserNotifyMessages = await UserManager.GetUnreadUserNotifyCountAsync(currentPartnerId);
                    if (unreadUserNotifyMessages > 9)
                    {
                        unreadUserNotifyMessagesFormat = "+9";
                    }
                    else
                    {
                        unreadUserNotifyMessagesFormat = unreadUserNotifyMessages.ToString();
                    }
                    <div>
                        <ul style="position:absolute;top: 2%;list-style:none;">
                            <li class="dropdown">
                                <a href="#" style="vertical-align:middle;z-index:0;" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="badge badge-danger" style="font-family:'Arial'; z-index: 1;
                                     position:absolute;top:2%;right:90%;border-radius:50%;font-weight:normal;
                                     "data-toggle="tooltip" data-placement="left" title="@unreadUserNotifyMessages">@unreadUserNotifyMessagesFormat</span>
                        <i class="far fa-envelope"></i>
                    </a>
                    <div class="dropdown-menu text-right shadow-lg" style="font-size:12px;left:-60px;min-width:45rem;left:-350px;border-radius:10px;">
                        @foreach (var item in await UserManager.GetUnreadUserNotifyListAsync(currentPartnerId))
                        {
                            <a class="dropdown-item p-4" asp-action="Detail" asp-controller="UserNotify" asp-route-id="@item.Id">
                                <div class="row">
                                    <div class="col-md-12" style="font-weight:bold;font-size:13px;color:rebeccapurple;">
                                        @if (item.Subject.Length > 100)
                                        {
                                            @string.Concat(item.Subject.Substring(0, 100), " ... ")
                                        }
                                        else
                                        {
                                            @item.Subject
                                        }
                                    </div>
                                    <div class="col-md-12 mt-3" style="color:gray;">
                                        <div class="row">
                                            <div class="col-md-1" style="font-size:11px;">
                                                الانشاء :
                                            </div>
                                            <div class="col-md-3">
                                                @item.CreatedOn.ToString("yyyy-MM-dd HH:mm:ss")
                                            </div>
                                            <div class="col-md-1" style="font-size:11px;">
                                                الاهمية :
                                            </div>
                                            <div class="col-md-2">
                                                @item.Priority.Name
                                            </div>
                                            <div class="col-md-1" style="font-size:11px;">
                                                بواسطة :
                                            </div>
                                            <div class="col-md-4">
                                                @item.CreatedBy.Name
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <hr style="margin:0px;" />
                        }

                    </div>
                </li>
            </ul>
        </div>
        <div class="float-left" style="font-size:12px;">
            <div style="display:block;font-size:20px;font-weight:bold;text-align:center;padding-right:40px;color:gray;">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <p>
                        @*<i class="fas fa-dollar-sign" style="font-size:12px;"></i>*@@currentPartnerBalance.ToString("N0")
                        <span style="font-size:12px;">ر.ي</span>
                    </p>
                }
            </div>

            <div style="display:block;text-align:center;">

                @if (this.User.Identity.IsAuthenticated)
                {
                    <div style="display:inline-flex">


                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="color:gray;"
                                   role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" style="color:gray;"></i>&nbsp;&nbsp;@User.Identity.Name</a>

                                <div class="dropdown-menu text-right" style="font-size:12px;">

                                    <p class="dropdown-item" style="user-select:none;text-align:center;font-size:17px;
                                            font-weight:bold;color:rebeccapurple;"><i class="fas fa-mobile-alt"></i> @currentPartnerId</p>
                                            <p class="dropdown-item" style="user-select:none;text-align:center;font-size:17px;
                                            font-weight:bold;color:forestgreen;">@currentPartnerAccount</p>
                                            <p class="dropdown-item" style="user-select:none;text-align:center;font-size:17px;
                                            font-weight:bold;color:rebeccapurple;"><i class="fas fa-crown"></i> @currentPartnerRoleName</p>
                                            <hr />
                                            <a class="dropdown-item" asp-action="ChangePass" asp-controller="Account">
                                                <i style="color:gray;" class="fa fa-key"></i>&nbsp;&nbsp;&nbsp;تغيير كلمة المرور
                                            </a>

                                            <form method="post" asp-action="SignOut" asp-controller="Account" class="nav-link" style="width:100%;">
                                                <button type="submit" class="dropdown-item" style="width:auto;">
                                                    <i style="color:gray;" class="fa fa-sign-out-alt"></i>&nbsp;&nbsp;&nbsp;تسجيل خروج
                                                </button>
                                            </form>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        }
                        else
                        {
                            @*<a asp-action="Login" asp-controller="Account" class="nav-link">تسجيل دخول</a>*@
                        }
            </div>
        </div>
    }
            </div>
        </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - Yvtu.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
</body>
</html>
