@inject Yvtu.Infra.Data.Interfaces.IPartnerManager UserManager
@using System.Security.Claims

@{ 
    long currentPartnerBalance = 0;
    string currentPartnerId = string.Empty;
    string currentPartnerRoleName = string.Empty;
    int currentPartnerAccount = -1;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VTU</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow" style="min-height:100px;">
            <div class="container">
                <a asp-action="Index" asp-controller="Home" class="brand-link" style="text-decoration: none;font-size:18px;">
                    <img src="~/images/Y-Logo2.png" alt="YCo Logo" class="brand-image" width="70" height="70" style="opacity: .8">
                    <span class="brand-text font-weight-light" style="font-family: 'ArefRuqaa-Bold'; font-size:1.5em;color:purple;">إدارة الشاحن الفوري</span>
                </a>

                @*<div style="font-size:20px;font-weight:bold;">
                        @{
                            var partId = UserManager.GetCurrentUserId(this.Context);
                            var part = UserManager.Validate(partId).Partner;
                            var bal = (part.Balance - part.Reserved);
                            <p>@bal.ToString("N0")</p>
                            }

                    </div>*@

                <div class="float-left" style="font-size:12px; border-right:solid 1px #a7a7a7;">
                    <div style="display:block;font-size:20px;font-weight:bold;text-align:center;padding-right:40px;color:gray;">
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            currentPartnerAccount = UserManager.GetCurrentUserAccount(this.Context);
                            var part = UserManager.GetPartnerByAccount(currentPartnerAccount);
                            currentPartnerId = part.Id;
                            currentPartnerBalance = (part.Balance - part.Reserved);
                            currentPartnerRoleName = part.Role.Name;
                            <p>
                                @*<i class="fas fa-dollar-sign" style="font-size:12px;"></i>*@@currentPartnerBalance.ToString("N0")
                                <span style="font-size:12px;">ر.ي</span>
                            </p>
                        }
                    </div>
                    <div style="display:block;text-align:center;">
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <div style="display:inline-flex">
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                           role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>&nbsp;&nbsp;@User.Identity.Name</a>

                                        <div class="dropdown-menu text-right" style="font-size:12px;">

                                            <p class="dropdown-item" style="user-select:none;text-align:center;font-size:17px;
                                            font-weight:bold;color:rebeccapurple;"><i class="fas fa-mobile-alt"></i> @currentPartnerId</p>
                                            <p class="dropdown-item" style="user-select:none;text-align:center;font-size:17px;
                                            font-weight:bold;color:forestgreen;">@currentPartnerAccount</p>
                                            <p class="dropdown-item" style="user-select:none;text-align:center;font-size:17px;
                                            font-weight:bold;color:rebeccapurple;"><i class="fas fa-crown"></i> @currentPartnerRoleName</p>
                                            <hr />
                                            <a class="dropdown-item" asp-action="ChangePass" asp-controller="Account">
                                                <i style="color:gray;" class="fa fa-key"></i>&nbsp;&nbsp;&nbsp;تغيير كلمة المرور
                                            </a>

                                            <form method="post" asp-action="SignOut" asp-controller="Account" class="nav-link" style="width:100%;">
                                                <button type="submit" class="dropdown-item" style="width:auto;">
                                                    <i style="color:gray;" class="fa fa-sign-out-alt"></i>&nbsp;&nbsp;&nbsp;تسجيل خروج
                                                </button>
                                            </form>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        }
                        else
                        {
                            <a asp-action="Login" asp-controller="Account" class="nav-link">تسجيل دخول</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - Yvtu.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
</body>
</html>
