@model Yvtu.Web.Dto.SMSOutBackDto


@{
    ViewData["Title"] = "Notifications";
}

@await Component.InvokeAsync("NToastNotify")

<div class="row">
    <div class="col-md-12 shadow-sm bg-white pb-3">
        <div class="text-center pb-1" style="background-color:rebeccapurple; border-radius:8px;color:white;">
            <p style="font-family:'ArefRuqaa-Bold';font-size:28px;">الاستعلام عن الاشعارات</p>
        </div>
    </div>
</div>

<form method="post" asp-action="Index" asp-controller="Notification">
    <div class="row  shadow-lg  p-3 bg-white">
        <div class="col-sm-2">
            <input asp-for="Receiver" class="form-control text-center" placeholder="رقم النقطة">
        </div>
        <div class="col-sm-4">
            <input asp-for="Message" class="form-control text-center"  placeholder="نص الرسالة">
        </div>
        <div class="col-sm-5">
            <div class="row mb-3 text-center" id="PeriodDiv">
                <div class="col-sm-1 text-center">
                    <input class="mt-2" id="chPeriod" type="checkbox" asp-for="IncludeDates" />
                </div>
                <div class="col-sm-5">
                    <input id="txtStartDate" asp-for="StartDate"  min="2020-11-01"  class="form-control text-center" style="font-size:14px;">
                </div>
                <div class="col-sm-5">
                    <input id="txtEndDate" asp-for="EndDate"  min="2020-11-01"  class="form-control text-center" style="font-size:14px;">
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <button id="btnSave" type="submit" class="btn btn-outline-success">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>

@if (Model != null && Model.Results != null && Model.Results.Count > 0)
{
<div class="row shadow-sm p-1 bg-white">
    <span class="float-right p-2" 
          style="font-size:15px;border:1px solid none;position:absolute;right:200px;top:266px;background-color:#F3F1F1;width:60px;text-align:center;"
          >@Model.Results.Count.ToString("N0")</span>
    <table class="table table-hover text-center">
        <thead>
            <tr style="font-size:11px;">
                <th style="vertical-align: middle;">الرسالة</th>
                <th style="vertical-align: middle;">الرقم</th>
                <th style="vertical-align: middle;">انشاء في</th>
                <th style="vertical-align: middle;">المرسل</th>
                <th style="vertical-align: middle;">تم الارسال في</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                <tr style="font-size:13px;">
                    <td style="text-align:right;">@item.Message</td>
                    <td>@item.Receiver</td>
                    <td>
                        @item.CreatedOn.ToString("yyyy/MM/dd")<br />
                        @item.CreatedOn.ToString("ss:mm:H")
                    </td>
                    <td>@item.Sender</td>
                    @if (!item.BackedOn.Equals(DateTime.MinValue))
                    {
                        <td>
                            @item.BackedOn.ToString("yyyy/MM/dd") <br />
                            @item.BackedOn.ToString("ss:mm:H")
                        </td>
                    }
                    else
                    {
                        <td class="text-muted">انتظار</td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>
}

@section Scripts{
    <script>
            $('#chPeriod').change(function () {
                if ($(this).prop("checked")) {
                    $("#txtStartDate").prop('disabled', false);
                    $("#txtEndDate").prop('disabled', false);
                } else {
                    $("#txtStartDate").prop('disabled', true);
                    $("#txtEndDate").prop('disabled', true);
                }
            });

        if ($('#chPeriod').prop("checked")) {
                $("#txtStartDate").prop('disabled', false);
                $("#txtEndDate").prop('disabled', false);
            } else {
                $("#txtStartDate").prop('disabled', true);
                $("#txtEndDate").prop('disabled', true);
            }
    </script>
}
