@model Yvtu.Web.Dto.CreatePartnerDto

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-12 shadow-sm LoginBox">
        <div class="mb-2 text-center pb-1" style="background-color:rebeccapurple; border-radius:8px;color:white;">
            <p style="font-family: 'ArefRuqaa-Bold';font-size:28px;">تعريف مستخدم جديد</p>
        </div>

        <form method="post">

            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-row">
                <div class="form-group col-12">

                    <label asp-for="Name" class="FormLabel">الاسم :</label>
                    <input asp-for="Name" class="form-control RequiredInput" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-6">
                    <label asp-for="Id" class="FormLabel">رقم الموبايل :</label>
                    <input asp-for="Id" class="form-control text-center RequiredInput" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="PairMobile" class="FormLabel">الرقم الاحتياطي :</label>
                    <input asp-for="PairMobile" class="form-control text-center RequiredInput" />
                    <span asp-validation-for="PairMobile" class="text-danger"></span>
                </div>

            </div>
            <div class="form-row">


                <div class="form-group col-6">
                    <label asp-for="RoleId" class="FormLabel">النوع :</label>
                    <select asp-for="RoleId" class="form-control RequiredInput" style="padding:0px;"
                            asp-items="@(new SelectList(Model.Roles,"Id","Name"))">
                        <option></option>
                    </select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>

                <div class="form-group col-6">
                    <label asp-for="BrandName" class="FormLabel">الاسم التجاري :</label>
                    <input asp-for="BrandName" class="form-control" />
                    <span asp-validation-for="BrandName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label asp-for="PersonalIdType" class="FormLabel">نوع الهوية :</label>
                    <select asp-for="PersonalIdType" class="form-control RequiredInput" style="padding:0px;"
                            asp-items="@(new SelectList(Model.IdTypes,"Id","Name"))">
                        <option></option>
                    </select>
                    <span asp-validation-for="PersonalIdType" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="PersonalIdNo" class="FormLabel">رقمها :</label>
                    <input asp-for="PersonalIdNo" class="form-control RequiredInput" />
                    <span asp-validation-for="PersonalIdNo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label asp-for="PersonalIssued" class="FormLabel">تاريخ صدورها :</label>
                    <input asp-for="PersonalIssued" class="form-control RequiredInput" />
                    <span asp-validation-for="PersonalIssued" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="PersonalIdPlace" class="FormLabel">مكان صدورها :</label>
                    <input asp-for="PersonalIdPlace" class="form-control" />
                    <span asp-validation-for="PersonalIdPlace" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label asp-for="CityId" class="FormLabel">المدينة :</label>
                    <select id="citySelect" asp-for="CityId" class="form-control RequiredInput" style="padding:0px;"
                            asp-items="@(new SelectList(Model.Cities,"Id","Name"))">
                        <option></option>
                    </select>
                    <span asp-validation-for="CityId" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="DistrictId" class="FormLabel">المديرية :</label>
                    <select id="districtSelect" asp-for="DistrictId" class="form-control RequiredInput" style="padding:0px;"
                            asp-items="@(new SelectList(Model.Districts,"Id","Name"))">
                        <option></option>
                    </select>
                    <span asp-validation-for="DistrictId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label asp-for="Street" class="FormLabel">الشارع :</label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Zone" class="FormLabel">الحي / القرية :</label>
                    <input asp-for="Zone" class="form-control" />
                    <span asp-validation-for="Zone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label asp-for="MobileNo" class="FormLabel">رقم موبايل :</label>
                    <input asp-for="MobileNo" class="form-control" />
                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Fixed" class="FormLabel">رقم ثابت :</label>
                    <input asp-for="Fixed" class="form-control" />
                    <span asp-validation-for="Fixed" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label asp-for="Fax" class="FormLabel">فاكس :</label>
                    <input asp-for="Fax" class="form-control" />
                    <span asp-validation-for="Fax" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Email" class="FormLabel">بريد الكتروني :</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label asp-for="RefPartnerId" class="FormLabel">رقم المرجعية :</label>
                    <input asp-for="RefPartnerId" class="form-control" />
                    <span asp-validation-for="RefPartnerId" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="IPAddress" class="FormLabel">عنوان السيرفر :</label>
                    <input asp-for="IPAddress" class="form-control" />
                    <span asp-validation-for="IPAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <label asp-for="ExtraAddressInfo" class="FormLabel">معلومات اضافية :</label>
                    <input asp-for="ExtraAddressInfo" class="form-control" />
                    <span asp-validation-for="ExtraAddressInfo" class="text-danger"></span>
                </div>
            </div>
                <button type="submit" class="btn btn-outline-success"
                        style="width:100%;border-radius:10px;">
                    <i class="fa fa-save"></i>&nbsp;&nbsp;  حفظ
                </button>

        </form>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/js/CreatePartner.js")"></script>
}
