@model Yvtu.Core.Entities.Partner
@inject Yvtu.Infra.Data.Interfaces.IPartnerManager partner

@{
    ViewData["Title"] = "تفاصيل";
}

<div class="row bg-white">
    <div class="col-12 shadow-sm LoginBox py-1" style="background-color:#EDF0F2;">
        <div class="mb-2 text-center pb-1" style="background-color:rebeccapurple;border-radius:8px;color:white;">
            <p style="font-family: 'ArefRuqaa-Bold';font-size:28px;">تفاصيل جهة</p>
        </div>
    </div>
</div>

<div class="row text-center bg-white">
        <div class="col-4">
            @if (partner.GetCurrentUserRoleCode(Context) == "Admin")
            {
                <a class="btn btn-outline-info" asp-action="Resetpass" asp-controller="Account" asp-route-account="@Model.Account" style="font-size:11px;">
                    <i class="fas fa-magic"></i>
                    &nbsp;&nbsp;  إعادة تعيين الرقم السري
                </a>
            }
        </div>
        <div class="col-4">
            <a class="btn btn-outline-info" asp-action="Index" asp-controller="Account" style="font-size:11px;">
                <i class="fas arrow-alt-circle-left"></i>
                الاستعلام الجهات
            </a>
        </div>
</div>

<div class="row bg-white shadow-lg p-4" style="margin-top:1px;">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <fieldset class="box-border">
                    <legend class="box-border">البيانات الرئيسية</legend>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">الرقم :</div>
                        <div class="col-md-4">@Model.Id</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">الحساب :</div>
                        <div class="col-md-4">@Model.Account</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">الاسم :</div>
                        <div class="col-md-10">@Model.Name</div>

                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">الاسم التجاري :</div>
                        <div class="col-md-4">@Model.BrandName</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">النوع :</div>
                        <div class="col-md-4">@Model.Role.Name</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">الرقم الاحتياطي :</div>
                        <div class="col-md-4">@Model.PairMobile</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">الرقم المرجعي :</div>
                        <div class="col-md-4">@Model.RefPartner.Id &nbsp; @Model.RefPartner.Name</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">الرصيد :</div>
                        <div class="col-md-4">@Model.Balance.ToString("N2")</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">رصيد مححوز :</div>
                        <div class="col-md-4">@Model.Reserved.ToString("N2")</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">تاريخ الانشاء :</div>
                        <div class="col-md-4">@Model.CreatedOn.ToString("H:mm:ss yyyy/MM/dd")</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">بواسطة :</div>
                        <div class="col-md-4">@Model.CreatedBy.Id &nbsp; @Model.CreatedBy.Name</div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-12 mt-3">
                <fieldset class="box-border">
                    <legend class="box-border">بيانات الحالة</legend>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">الحالة :</div>
                        <div class="col-md-4">@Model.Status.Name</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">التاريخ :</div>
                        <div class="col-md-4">@Model.StatusOn.ToString("H:mm:ss yyyy/MM/dd")</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">بواسطة :</div>
                        <div class="col-md-4">@Model.StatusBy.Id</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">الاسم :</div>
                        <div class="col-md-4">@Model.StatusBy.Name</div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-12 mt-3">
                <fieldset class="box-border">
                    <legend class="box-border">بيانات الهوية</legend>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">نوعها :</div>
                        <div class="col-md-4">@Model.PersonalId.IdType.Name</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">رقمها :</div>
                        <div class="col-md-4">@Model.PersonalId.Id</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">تاريخ صدورها :</div>
                        <div class="col-md-4">@Model.PersonalId.Issued.ToString("yyyy/MM/dd")</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">مكان صدورها :</div>
                        <div class="col-md-4">@Model.PersonalId.Place</div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-12 mt-3">
                <fieldset class="box-border">
                    <legend class="box-border">بيانات العنوان</legend>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">المدينة :</div>
                        <div class="col-md-4">@Model.Address.City.Name</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">المديرية :</div>
                        <div class="col-md-4">@Model.Address.District.Name</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">الحي :</div>
                        <div class="col-md-4">@Model.Address.Zone</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">الشارع :</div>
                        <div class="col-md-4">@Model.Address.Street</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">اضافية :</div>
                        <div class="col-md-10">@Model.Address.ExtraInfo</div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-12 mt-3">
                <fieldset class="box-border">
                    <legend class="box-border">بيانات التواصل</legend>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">موبايل :</div>
                        <div class="col-md-4">@Model.ContactInfo.Mobile</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">هاتف ثابت :</div>
                        <div class="col-md-4">@Model.ContactInfo.Fixed</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">فاكس :</div>
                        <div class="col-md-4">@Model.ContactInfo.Fax</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">بريد الكتروني :</div>
                        <div class="col-md-4">@Model.ContactInfo.Email</div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-12 mt-3">
                <fieldset class="box-border">
                    <legend class="box-border">أخرى</legend>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">عنوان السيرفر :</div>
                        <div class="col-md-4">@Model.IPAddress</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">اخر دخول :</div>
                        <div class="col-md-4">@Model.LastLoginOn.ToString("H:mm:ss yyyy/MM/dd")</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">عدد الدخول الخاطئ :</div>
                        <div class="col-md-4">@Model.WrongPwdAttempts</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">تاريخ الايقاف :</div>
                        <div class="col-md-4">@Model.LockTime.ToString("H:mm:ss yyyy/MM/dd")</div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>



   
