@model Yvtu.Web.Dto.PFRQueryDto


@{
    ViewData["Title"] = "PFR";
}

@await Component.InvokeAsync("NToastNotify")

<div class="row">
    <div class="col-md-12 shadow-sm bg-white pb-3">
        <div class="text-center pb-1" style="background-color:rebeccapurple; border-radius:8px;color:white;">
            <p style="font-family:'ArefRuqaa-Bold';font-size:28px;">كشف حساب</p>
        </div>
    </div>
</div>
<form method="post">
    <div class="row  shadow-sm mt-2 p-1 bg-white pb-0">
        <div class="col-md-5">
            <fieldset class="box-border">
                <legend class="box-border">بيانات الجهة</legend>
                <div class="row mb-3">
                    <label asp-for="PartnerId" class="col-sm-2 col-form-label FormLabel">الرقم:</label>
                    <div class="col-sm-4">
                        <input asp-for="PartnerId" class="form-control text-center">
                    </div>
                    <label asp-for="PartnerAccount" class="col-sm-2 col-form-label FormLabel">الحساب:</label>
                    <div class="col-sm-4">
                        <input asp-for="PartnerAccount" class="form-control text-center">
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-5">
            <fieldset class="box-border">
                <legend class="box-border"><input id="chPeriod" type="checkbox" asp-for="IncludeDates" />&nbsp;الفترة</legend>
                <div class="row mb-3" id="PeriodDiv" style="display:none;">
                    <label asp-for="StartDate" class="col-sm-1 col-form-label FormLabel">من:</label>
                    <div class="col-sm-5">
                        <input asp-for="StartDate" min="2020-11-01" class="form-control text-center" style="font-size:15px;">
                    </div>
                    <label asp-for="EndDate" class="col-sm-1 col-form-label FormLabel">الى:</label>
                    <div class="col-sm-5">
                        <input asp-for="EndDate" min="2020-11-01" class="form-control text-center" style="font-size:15px;">
                    </div>
                </div>
            </fieldset>
        </div>
       
        <div class="col-md-2 text-center">
            <fieldset class="box-border" style="padding:8px !important;height:100%;">
                <button id="btnSave" type="submit" class="btn btn-outline-success mt-3">
                    <i class="fa fa-search"></i>
                </button>
                <a asp-action="CreatePFRReportPDF"
                   asp-route-account="@Model.PartnerAccount"
                   asp-route-id="@Model.PartnerId"
                   asp-route-includeDates="@Model.IncludeDates"
                   asp-route-startDate="@Model.StartDate"
                   asp-route-endDate="@Model.EndDate"
                   target="_blank" class="btn btn-link mt-3"><i class="far fa-file-pdf fa-2x" style="color:red;"></i></a>
            </fieldset>
        </div>
      
    </div>
</form>
@if (Model.results != null && Model.results.Count > 0)
{
    double accumolator = 0;
    <div class="row shadow-sm p-1 bg-white">
        <table class="table table-hover text-center">
            <thead>
                <tr style="font-size:12px;">
                    <th>الرصيد</th>
                    <th>المبلغ</th>
                    <th>التاريخ</th>
                    <th>الاجراء</th>
                    <th>الحساب</th>
                    <th>الرقم</th>
                    <th>الحساب</th>
                    <th>الرقم</th>
                    <th>الاسم</th>
                    <th>رقم المرجع</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.results)
                {
                    string amountColor = "blue";
                    if (@item.Amount < 0) amountColor = "red";
                    accumolator += @item.Amount;
                <tr style="font-size:12px;">
                    <td>@accumolator.ToString("N2")</td>
                    <td style="color:@amountColor;">@item.Amount.ToString("N2")</td>
                    <td>@item.CreatedOn.ToString("yyyy/MM/dd ss:mm:H")</td>
                    <td style="font-size:10px;text-align:right;">@item.ActivityName</td>
                    <td>@item.PartnerAccount</td>
                    <td>@item.PartnerId</td>
                    <td>@item.CreatedBy.Account</td>
                    <td>@item.CreatedBy.Id</td>
                    <td style="font-size:10px;text-align:right;">@item.CreatedBy.Name</td>
                    <td>@item.TransNo</td>
                    <td>
                      
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Scripts {
<script>
    $('#chPeriod').change(function () {
        if ($(this).prop("checked")) {
            $('#PeriodDiv').show();
        } else {
            $('#PeriodDiv').hide();
        }
    });

    if ($('#chPeriod').prop("checked")) {
        $('#PeriodDiv').show();
    } else {
        $('#PeriodDiv').hide();
    }
</script>
} 