@model Yvtu.Core.Entities.PartnerActivity

@{
    ViewData["Title"] = "تفاصيل";
}

<div class="row">
    <div class="col-12 shadow-sm LoginBox py-1" style="background-color:#EDF0F2;">
        <div class="mb-2 text-center pb-1" style="background-color:rebeccapurple;border-radius:8px;color:white;">
            <p style="font-family: 'ArefRuqaa-Bold';font-size:28px;">تفاصيل صلاحية</p>
        </div>
    </div>
</div>

<div class="row bg-white">
    <div class="col-12 p-0">
        <table class="table mb-0">
            <tbody>
                <tr>
                    <td class="DetailLabel">الرقم :</td>
                    <td style="font-size:20px;font-weight:bold;">@Model.Id</td>
                    <td class="DetailLabel">اسم الاجراء :</td>
                    <td style="color:blue;">@Model.Activity.Name</td>
                    <td class="DetailLabel">من :</td>
                    <td style="color:darkcyan;">@Model.FromRole.Name</td>
                </tr>
                <tr>
                    <td class="DetailLabel">عدد النتائج :</td>
                    <td>@Model.MaxQueryRows.ToString("N0")</td>
                    <td class="DetailLabel">مدة الاستعلام :</td>
                    <td>@Model.MaxQueryDuration.Name</td>
                    <td class="DetailLabel">مدى الاستعلام :</td>
                    <td>@Model.Scope.Name</td>
                </tr>
                <tr>
                    <td class="DetailLabel">وقت الانشاء :</td>
                    <td style="color:gray;">@Model.CreatedOn.ToString("yyyy/MM/dd H:mm:ss")</td>
                    <td class="DetailLabel">انشئ بواسطة :</td>
                    <td style="color:gray;">@Model.CreatedBy.Name</td>
                    <td class="DetailLabel">اخر وقت تعديل :</td>
                    <td style="color:gray;">@Model.LastEditOn.ToString("yyyy/MM/dd H:mm:ss")</td>
                </tr>
                <tr>
                    <td class="DetailLabel">حصري :</td>
                    <td>
                        @if (Model.OnlyPartnerChildren)
                        {
                            <p class="text-success"><i class="fa fa-check"></i></p>
                        }
                        else
                        {
                            <p class="text-danger" style="margin:0px;"><i class="fa fa-times"></i></p>
                        }
                    </td>
                    <td colspan="2" style="text-align:right;">
                    </td>
                    <td class="DetailLabel">التفاصيل :</td>
                    <td>
                        @Model.Details.Count
                    </td>
                </tr>
                <tr style="border-top:2px solid #6407a8;">
                    <td>
                        <a class="btn btn-outline-info" asp-action="AddDetail" asp-controller="PartActivity" asp-route-id="@Model.Id" style="font-size:11px;">
                            <i class="fas fa-plus-circle"></i>
                             اضافة تفاصيل
                        </a>
                    </td>
                    <td>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="PartActivity" asp-route-id="@Model.Id"
                           data-toggle="tooltip" data-placement="top" title="تعديل البيانات" class="ml-3">
                            <i class="far fa-edit  text-primary"></i>
                        </a>
                    </td>
                    <td colspan="3">
                        <span id="deleteConfirmSpan" style="display:none;">
                            <span style="color:red;">هل انت متاكد من الحذف؟</span>
                            <a asp-action="Delete" asp-controller="PartActivity" asp-route-id="@Model.Id" class="btn btn-success rounded-circle" style="width:50px;">نعم</a>
                            <a href="#" class="btn btn-primary rounded-circle" onclick="confirmDelete(false)" style="width:50px;">لا</a>
                        </span>
                        <span id="deleteSpan">
                            <a href="#" onclick="confirmDelete(true)" data-toggle="tooltip" data-placement="top" title="حذف"><i class="far fa-trash-alt  text-danger"></i></a>
                        </span>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row p-0">
    <div class="col-12 LoginBox  mt-1 p-0 bg-transparent">
        <table class="table table-bordered text-center bg-white">
            <thead>
                <tr class="text-center" style="font-size:12px;font-weight:normal;background-color:rebeccapurple;color:white;">
                    <th style="font-weight:normal">#</th>
                    <th style="font-weight:normal">المستفيد</th>
                    <th style="font-weight:normal">فحص الرصيد؟</th>
                    <th style="font-weight:normal">اقل مبلغ</th>
                    <th style="font-weight:normal">اعلى مبلغ</th>
                    <th style="font-weight:normal">الضريبة %</th>
                    <th style="font-weight:normal">العمولة %</th>
                    <th style="font-weight:normal">ضريبة العمولة %</th>
                    <th style="font-weight:normal">تاريخ الانشاء</th>
                    <th style="font-weight:normal">تفاصيل</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Details)
                {

                <tr>
                    <td style="font-size:23px;font-weight:bold;">@item.Id</td>
                    <td style="font-family:Amiri-Regular">@item.ToRole.Name</td>
                    <td style="font-family:Amiri-Regular">
                        @if (item.CheckBalanceRequired)
                        {<p class="text-success"><i class="fa fa-check"></i></p> }
                        else
                        { <p class="text-danger"><i class="fa fa-times"></i></p>}
                    </td>
                    <td style="font-family:Amiri-Regular">@item.MinValue.ToString("N0")</td>
                    <td style="font-family:Amiri-Regular">@item.MaxValue.ToString("N0")</td>
                    <td style="font-family:Amiri-Regular">@item.TaxPercent.ToString("N2")</td>
                    <td style="font-family:Amiri-Regular">@item.BonusPercent.ToString("N2")</td>
                    <td style="font-family:Amiri-Regular">@item.BonusTaxPercent.ToString("N2")</td>
                    <td style="font-family:Amiri-Regular">@item.CreatedOn.ToString("yyyy/MM/dd H:mm:ss")</td>

                    <td><a asp-action="MoreDetail" asp-controller="PartActivity" asp-route-id="@item.Id" asp-route-parentId="@Model.Id"><i class="far fa-list-alt"></i></a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <script src="~/js/CustomScript.js"></script>

}