@model Yvtu.Core.Entities.MoneyTransfer

@{
    ViewData["Title"] = "تفاصيل";
}

@await Component.InvokeAsync("NToastNotify")

<div class="row bg-white">
    <div class="col-12 shadow-sm LoginBox py-1" style="background-color:#EDF0F2;">
        <div class="mb-2 text-center pb-1" style="background-color:rebeccapurple;border-radius:8px;color:white;">
            <p style="font-family: 'ArefRuqaa-Bold';font-size:28px;">تفاصيل نقل رصيد</p>
        </div>
    </div>
</div>
<div class="row bg-white">
    <div class="col-12 row d-inline text-center">
        @if (!Model.Adjusted)
        {
            <a class="btn btn-outline-primary" asp-action="Create" asp-controller="Adjust" asp-route-mt="@Model.Id" style="font-size:11px;">
                <i class="fas fa-sliders-h"></i>
                تسوية
            </a>
        }
        <a class="btn btn-outline-info" asp-action="MoneyTranferQuery" asp-controller="MoneyTransfer" style="font-size:11px;">
            <i class="fas arrow-alt-circle-left"></i>
            الاستعلام عن نقل الرصيد
        </a>
    </div>

</div>
<div class="row bg-white shadow-lg p-4" style="margin-top:1px;">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <fieldset class="box-border">
                    <legend class="box-border">البيانات الرئيسية</legend>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">الرقم :</div>
                        <div class="col-md-4">@Model.Id</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">المبلغ :</div>
                        <div class="col-md-4">@Model.Amount.ToString("N2")</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">تاريخ الانشاء :</div>
                        <div class="col-md-10">@Model.CreatedOn.ToString("ss:mm:H yyyy/MM/dd")</div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6 mt-3">
                <fieldset class="box-border" style="background-color:#ffffc9;">
                    <legend class="box-border">من</legend>
                    <div class="row">
                        <div class="col-md-4" style="font-size:12px;color:gray;">الرقم :</div>
                        <div class="col-md-8">@Model.CreatedBy.Id</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="font-size:12px;color:gray;">الاسم :</div>
                        <div class="col-md-8">@Model.CreatedBy.Name</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="font-size:12px;color:gray;">النوع :</div>
                        <div class="col-md-8">@Model.CreatedBy.Role.Name</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="font-size:12px;color:gray;">الحساب :</div>
                        <div class="col-md-8">@Model.CreatedBy.Account</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="font-size:12px;color:gray;">الرصيد :</div>
                        <div class="col-md-8">@Model.CreatedBy.Balance.ToString("N2")</div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6 mt-3">
                <fieldset class="box-border" style="background-color:#e1ffd1;">
                    <legend class="box-border">الى</legend>
                    <div class="row">
                        <div class="col-md-4" style="font-size:12px;color:gray;">الرقم :</div>
                        <div class="col-md-8">@Model.Partner.Id</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="font-size:12px;color:gray;">الاسم :</div>
                        <div class="col-md-8">@Model.Partner.Name</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="font-size:12px;color:gray;">النوع :</div>
                        <div class="col-md-8">@Model.Partner.Role.Name</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="font-size:12px;color:gray;">الحساب :</div>
                        <div class="col-md-8">@Model.Partner.Account</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="font-size:12px;color:gray;">الرصيد :</div>
                        <div class="col-md-8">@Model.Partner.Balance.ToString("N2")</div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-12 mt-3">
                <fieldset class="box-border">
                    <legend class="box-border">البيانات المالية</legend>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">نسبة ثابتة :</div>
                        <div class="col-md-4">@Model.FixedFactor.ToString("N6")</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">صافي الايراد :</div>
                        <div class="col-md-4">@Model.NetAmount.ToString("N2")</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">المبلغ المطلوب :</div>
                        <div class="col-md-4">@Model.ReceivedAmount.ToString("N2")</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">نسبة الضريبة :</div>
                        <div class="col-md-4">@Model.TaxPercent.ToString("N2")</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">مبلغ الضريبة :</div>
                        <div class="col-md-4">@Model.TaxAmount.ToString("N2")</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">نسبة العمولة :</div>
                        <div class="col-md-4">@Model.BonusPercent.ToString("N2")</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">مبلغ العمولة :</div>
                        <div class="col-md-4">@Model.BounsAmount.ToString("N2")</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">نسبة ضريبة العمولة :</div>
                        <div class="col-md-4">@Model.BounsTaxPercent.ToString("N2")</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">مبلغ ضريبة العمولة :</div>
                        <div class="col-md-4">@Model.BounsTaxAmount.ToString("N2")</div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-12 mt-3">
                <fieldset class="box-border">
                    <legend class="box-border">أخرى</legend>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">رقم الفاتورة :</div>
                        <div class="col-md-4">@Model.BillNo</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">رقم الطلبية :</div>
                        <div class="col-md-4">@Model.RequestNo</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">مبلغ الطلبية :</div>
                        <div class="col-md-4">@Model.RequestAmount.ToString("N2")</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">طريقة الدفع :</div>
                        <div class="col-md-4">@Model.PayType.Name</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">رقم الدفع :</div>
                        <div class="col-md-4">@Model.PayNo</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">التاريخ :</div>
                        <div class="col-md-4">@Model.PayDate.ToShortDateString()</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">البنك :</div>
                        <div class="col-md-4">@Model.PayBank</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">التسوية :</div>
                        <div class="col-md-4">
                            @if (Model.Adjusted)
                            {<p class="text-success"><i class="fa fa-check"></i></p> }
                            else
                            { <p class="text-danger"><i class="fa fa-times"></i></p>}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">رقم التسوية :</div>
                        <div class="col-md-4">@Model.AdjustmentNo</div>
                        <div class="col-md-2" style="font-size:12px;color:gray;">قناة الوصول :</div>
                        <div class="col-md-4">@Model.AccessChannel.Name</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:12px;color:gray;">ملاحظات :</div>
                        <div class="col-md-10">@Model.Note</div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
